/*
For EventPharmEngLearinar.blade.php
*/

@media (min-width:768px){
    .learninar_title-container{width:750px}
    .learninar_container{width:750px}
    .learninar_organizer-container{width:750px}
}
@media (min-width:992px){
    .learninar_title-container{width:960px}
    .learninar_container{width:960px}
    .learninar_organizer-container{width:960px}
}

section.learninar_title-container {
    position: relative;
    display: block;
    margin: auto;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 125%;
    color: #011475;
    background-color:white;
    opacity: .9;
    cursor: pointer;

    padding: 40px;
    margin-bottom:25px;
}

div.learninar_title-banner {
    float: none;
    display: table-cell;
    vertical-align: bottom;
}

section.learninar_container {
    position: relative;
    display: block;
    margin: auto;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 125%;
    color: #011475;
    background-color:white;
    opacity: .8;
    cursor: pointer;

    padding: 40px;
    margin-bottom:25px;
}

section.learninar_container:hover {
    opacity: .9;
}

section.learninar_organizer-container {
    position: relative;
    display: block;
    margin: auto;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 125%;
    color:#011475;
    background-color:white;
    opacity: .9;
    cursor: pointer;

    padding: 40px;
    margin-bottom:25px;
}

div.learninar_organizer-banner {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.learninar_organizer-container h1 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 125%;
}




/*
section.learninar_container img {
    max-width:100%;
    min-wdith:100%;
}

section.learninar_title-page {
    position: relative;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

div.learninar_title-banner-top {
    width:100%;
    position: absolute;
    text-align:right;
    height: 50px;
    bottom: 0px;
    right: 0px;
    padding-right:18px;
    padding-left:18px;
    font-size: 45px;
}

div.learninar_title-banner-middle {
    width:100%;
    position: absolute;
    background-color:white;
    text-align:right;
    opacity: 0.8;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 125%;
    color: black;

    height:57px;
    bottom: 49px;
    right: 0px;
    padding-right:19px;
    padding-left:19px;
    padding-top:4px;
    padding-bottom:4px;
    font-size: 19px;
}

div.learninar_title-banner-bottom {
    width:100%;
    position: absolute;
    background-color:black;
    text-align:right;
    opacity: 0.7;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 125%;
    color: white;
    height:30px;
    bottom: 0px;
    right: 0px;
    padding-right:0px;
    font-size: 19px;
}

div.learninar_container_overflow_header {
    position: relative;
    text-align: center;
    height: 100mm;
    background-size: cover;
    background-attachment: scroll;
    background-position: center top;

    height: 380px;
}

div.learninar_container_overflow_footer {
    position: relative;
    top: 0mm;
    left: 0mm;
    text-align: center;
	height: 100mm;
	background-size: cover;
	background-attachment: scroll;
	background-position: center bottom;

    top: 0px;
    left: 0px;
    height: 380px;
}

div.learninar_header_container {
    position: relative;
    text-align: center;

    top: 0px;
    left: 0px;
}

div.learninar_footer_container {
    position: absolute;
    text-align: center;

    bottom: 0px;
    right: 0px;
}
      
.learninar_header-banner {
    width:100%;
    position: absolute;
    background-color:white;
    text-align:right;
    opacity: 0.8;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 125%;
    color: black;

    height:50px;
    bottom: 0px;
    right: 0px;
    font-size:34px;
    padding-right:38px;
}
    
div.learninar_footer-banner {
    width:100%;
    position: absolute;
    background-color:black;
    text-align:right;
    vertical-align:center;
    opacity: 0.5;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 125%;
    color: white;

    height:30px;
    bottom: 76px;
    right: 0px;
    padding-right:11px;
    font-size: 19px;
}

div.learninar_footer-logo {
    width:100%;
    position: absolute;
    background-color:white;
    text-align:right;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 125%;
    color: black;

    height:40px;
    bottom: 20px;
    right: 0px;
    padding-right:19px;
    padding-left:19px;
    font-size: 19px;
}

div.learninar_details {
    padding-left: 0px;
    padding-right:0px;
}

.learninar_details iframe, .learninar_details img {
    max-width:100%
}
.learninar_details h1, .learninar_details h2, .learninar_details h3, .learninar_details h4, .learninar_details h5, .learninar_details h6, .learninar_details p,
.learninar_details ul, .learninar_details li {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-style: normal;
    font-variant: normal;
    color:#004172 !important;
}

.learninar_details h1{
    line-height: 125%;

    font-size:34px !important;
}

.learninar_details h2{
    line-height: 125%;

    font-size:23px !important;
}

.learninar_details h3{
    line-height: 125%;

    font-size:15px !important;
}

.learninar_details h4{
    line-height: 125%;

    font-size:15px !important;
}

.learninar_details p {
    text-align:justify;
    line-height: 110%;

    font-size:15px !important;
}

.learninar_details li {
    text-align:justify;
    line-height: 100%;

    font-size:15px;
}

div.pharmeng_about {
    padding-left:76px;
    padding-right:76px;    
}

h2.pharmeng_about2 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 110%;
    color: #004172;

    font-size: 23px !important;
}

h3.pharmeng_about3 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 125%;
    color: #004172;

    font-size: 15px !important;
}

table.pharmeng_about2 tr td {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 110% !important;
    color: #000000 !important;

    font-size: 15px !important;
}

table.pharmeng_about3 tr td {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 125% !important;
    color: #000000 !important;

    font-size: 12px !important;
}

p.pharmeng_about2 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 125% !important;
    color: #000000 !important;

    font-size: 15px !important;
}

p.pharmeng_about3 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 125% !important;
    color: #000000 !important;

    font-size: 12px !important;
}
*/