.ticket {
    /*page-break-after: always;*/
    padding: 10px;
    border: 1px solid #000;
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    background: #000;
    position: relative;
    height: 430px;
    font-size: 12px;
    color: #999;
    border-left-width: 3px;
    border-left-color: #000;
    overflow: hidden;
}

.ticket table {
    width: 100%;
}

.ticket h1 {
    margin-bottom: 5px;
    margin-top: 0px;
}

.ticket hr {
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 5px 0;
}

.ticket .barcode {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0px;
    bottom: 85px;
    overflow: hidden;
    padding: 10px;
    border: 1px solid #000;
    border-left: none;
    background-color: #fdfdfd;
}

.ticket   .barcode_vertical {
    display: block;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    position: absolute;
    right: -38px;
    bottom: 79px;
    width: 192px;
    height: 50px;
    background: #fff;
}

.ticket .top_barcode {
    margin-bottom: 15px;
}

.ticket h4 {
    font-size: 17px;
    margin: 6px auto;
    text-transform: uppercase;
    color: #999;

}

.ticket .layout_even {
    position:absolute;
    top:50%;
    height:300px;
    left: 175px;
    width: 400px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ticket .event_details, .ticket .attendee_details {
    position: absolute;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

.ticket .event_details {
    left: 0px;
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
}

.ticket .attendee_details {
    left: 200px;
    overflow: hidden;
    max-width: 195px;
    text-overflow: ellipsis;
}

.ticket .logo {
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px solid #000;
    border-top: none;
    border-right: none;
    padding: 5px;
    text-align: center;
}

.ticket .logo img {
    max-width: 110px;
}

.ticket .foot {
    position: absolute;
    bottom: 0;
    font-size: 9px;
    width: 100%;
    text-align: center;
}